
{cover_enabled, true}.

{erl_opts, [
    debug_info, warnings_as_errors, {parse_transform, lager_transform}
]}.

% {edoc_opts, [{dir, "../../doc"}]}.

{project_plugins, [pc]}.


{deps, [
    {nklib, {git, "https://github.com/netcomposer/nklib.git", {branch, "master"}}},
	{cowboy, {git, "https://github.com/extend/cowboy", {tag, "2.6.1"}}},
    certifi,
    ssl_verify_fun,
	% Used for tests
	{gun,  {git, "https://github.com/ninenines/gun.git", {branch, "master"}}}
]}.


{xref_checks, [
    undefined_function_calls, undefined_functions,
    locals_not_used, deprecated_function_calls, deprecated_functions
]}.

