{cover_enabled, true}.

{erl_opts, [
	debug_info, 
	fail_on_warning,
    {parse_transform, lager_transform}
]}.

{deps, [
    {nklib, ".*", {git, "https://github.com/nekso/nklib.git", {tag, "v0.2.0"}}},
	{cowlib, ".*", {git, "git://github.com/ninenines/cowlib.git", {tag, "1.3.0"}}},
	{ranch, ".*", {git, "git://github.com/ninenines/ranch.git", {tag, "1.1.0"}}},
	{cowboy, ".*", {git, "git://github.com/extend/cowboy", "90ae31998e8d0887b9efe4b441136ac047708bb9"}},
	% Used for tests
	{gun, ".*", {git, "https://github.com/ninenines/gun.git", {branch, "master"}}}
]}.
