
{cover_enabled, true}.

{erl_opts, [
    debug_info, warnings_as_errors, {parse_transform, lager_transform}
]}.

% {edoc_opts, [{dir, "../../doc"}]}.

{project_plugins, [pc]}.


{deps, [
    {nklib, {git, "https://github.com/netcomposer/nklib.git", {branch, "ng"}}},
	{ranch, {git, "https://github.com/ninenines/ranch.git", {tag, "1.1.0"}}},
	{cowlib, {git, "https://github.com/ninenines/cowlib.git", {tag, "1.3.0"}}},
	{cowboy, {git, "https://github.com/extend/cowboy", 
					{ref, "90ae31998e8d0887b9efe4b441136ac047708bb9"}}},

	% Used for tests
	{gun, ".*", {git, "https://github.com/ninenines/gun.git", 
				{ref, "427230d6f94f5b8a396fd504a73d73d1d65ab0a7"}}}
]}.


{xref_checks, [
    undefined_function_calls, undefined_functions,
    locals_not_used, deprecated_function_calls, deprecated_functions
]}.

